<template>
    <div class="add-link">
        <h2>Add a Link</h2>
        {{key}}
        <b>Link</b><br>
        <input v-model="linkToWrite"></input>

        <b>Note</b><br>
        <input v-model="noteToWrite"></input>
        <button @click="addLink">Add Link</button>

        <pre>{{$page}}</pre>
        
    </div>
</template>

<script>
import firebase from 'firebase';

var config = {
    apiKey: "AIzaSyCSflTigYcxFMQSnzYVGiXG5WRUNSmMrvg",
    authDomain: "share-link-one.firebaseapp.com",
    databaseURL: "https://share-link-one.firebaseio.com",
    projectId: "share-link-one",
    storageBucket: "share-link-one.appspot.com",
    messagingSenderId: "808102688292"
};

var firebaseApp = firebase.app();
const firestore = firebaseApp.firestore();

export default {
    data(){
        return {
            key: config.apiKey, 
            linkToWrite: '',
            noteToWrite: ''
        }
    },

    methods: {
        addLink(){
            const thisCollection = this.$page.title;
            const linkoj = firestore.collection(thisCollection);
            linkoj.add({
                link: this.linkToWrite,
                note: this.noteToWrite
            });
        }
    }
}
</script>

<style scoped>
</style>