<template>
    <div class="clue">
       <p class="clue-title" @click="toggle">
            <span v-if="clueOpen">🤓</span>
            <span v-else>🤔</span>
            {{ title }}
        </padding>

       <div v-if = "clueOpen" class="clue-content">
           <slot></slot>
       </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      clueOpen: false
    };
  },

  methods: {
    toggle() {
      this.clueOpen = !this.clueOpen;
    }
  },

  props: ["title"]
};
</script>

<style scoped>
.clue-content {
  padding-left: 31px;
}

.clue-title {
  margin-top: 0px;
  font-weight: bold;
  font-size: 120%;
}
.clue-title span {
  font-size: 140%;
  position: relative;
  top: 4px;
  left: -14px;
}

.clue {
  border: 1px solid #ffae28;
  padding-top: 15px;
  padding-right: 15px;
  border-radius: 4px;
  background-color: #ffedc4;
  margin-bottom:20px;
}
</style>

