<template>
    <div class="embed-pen">
        <iframe frameborder="0" v-bind:src="iframesrc" v-bind:height="height"></iframe>
    </div>
</template>

<script>
export default {
    computed:{
        iframesrc(){
            return `//codepen.io/${this.codepenusername}/embed/${this.penhash}/`
        }
    }, 

    props: [ 'codepenusername', 'penhash', 'height']
}
</script>

<style scoped>
    iframe {
        width:100%;
        border:1px solid #444;
        border-radius: 4px;
    }

    .embed-pen {
        padding-right:2px;
    }
</style>
