<template>
    <div class="linksuite">
        <h2>Submitted solutions</h2>
        <ul>
            <!-- <li v-for="record in recoj">{{record.link}}: <em>{{record.note}}</em></li> -->
        </ul>

        <h2>Submit your solution</h2>
        <!-- <small>Paste a link from codepen:</small>
        <input type="text" v-model="noteToWrite">
        <button @click="addLink">Add Solution</button> -->
        <hr>
        <pre>{{$page}}</pre>
    </div>
</template>

<script>
import firebase from "firebase";

var config = {
  apiKey: "AIzaSyCSflTigYcxFMQSnzYVGiXG5WRUNSmMrvg",
  authDomain: "share-link-one.firebaseapp.com",
  databaseURL: "https://share-link-one.firebaseio.com",
  projectId: "share-link-one",
  storageBucket: "share-link-one.appspot.com",
  messagingSenderId: "808102688292"
};
var firebaseApp = firebase.initializeApp(config);
const firestore = firebaseApp.firestore();
const settings = { /* your settings... */ timestampsInSnapshots: true };
firestore.settings(settings);

export default {
  //stf
};
</script>

<style scoped>
</style>