<template>
    <div class="list-links">
        <h2>All Links</h2>
        <ul>
            <li v-for="record in recoj">{{record.link}}: <em>{{record.note}}</em></li>
        </ul>

    </div>
</template>

<script>
import firebase from "firebase";

var config = {
  apiKey: "AIzaSyCSflTigYcxFMQSnzYVGiXG5WRUNSmMrvg",
  authDomain: "share-link-one.firebaseapp.com",
  databaseURL: "https://share-link-one.firebaseio.com",
  projectId: "share-link-one",
  storageBucket: "share-link-one.appspot.com",
  messagingSenderId: "808102688292"
};
var firebaseApp = firebase.initializeApp(config);
const firestore = firebaseApp.firestore();

export default {
  data() {
    return {
      key: config.apiKey,
      recoj: [{ foo: "bar" }]
    };
  },

  mounted() {
    const linkoj = firestore.collection(this.$page.title);
    let linkojArr = [];
    linkoj.get().then(function(querySnapshot) {
      querySnapshot.forEach(function(documentSnapshot) {
        const item = documentSnapshot.data();
        linkojArr.push(item);
      });
    });
    this.recoj = linkojArr;
  }
};
</script>

<style scoped>
</style>