<template>
    <div class="netlify-form-wrap">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScDMxb5RD4GBIWKc8jOdchamVzHUIGwcZo33onW9jOqF07Xdw/viewform?embedded=true" width="640" height="450" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</template>

<script>
</script>

<style scoped>
.hidden { position: absolute; left:-4000px; }

input { 
    width: 100%; 
    font-size:18px;
    padding:5px;
}

button {
    font-size:20px;
    background-color:lightblue;
    padding:10px;
    border:0px;
    border-radius:5px;
    cursor: pointer;
}

button:hover {
    background-color:cornflowerblue;
}
</style>
